{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h1 class="row justify-content-center">Login</h1>

    {% if next %}
      <p class="row justify-content-center">Please log in to see this page.</p>
    {% endif %}

    <form class="form-control max-width-200" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|crispy }}

      <input type="submit" value="Login" class="btn btn-primary" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}
