
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Soft UI Design System by &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" target="_blank">Creative Tim</a> 
              - Coded by <a target="_blank" href="https://appseed.us" target="_blank">AppSeed</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
