{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% include "includes/sidebar.html" %}
  <div>
    <div class="p-3 text-left">
      <h1>
        Cooks List
        <a href="{% url 'restaurant:cook-create' %}" class="btn btn-primary link-to-page">
          Create
        </a>
      </h1>
      <form method="get" action="" class="form-inline max-width-200">
        {{ search_form|crispy }}
        <input class="btn btn-secondary" type="submit" value="🔍">
      </form>
      {% if cook_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Years of experience</th>
        </tr>
      {% for cook in cook_list %}
        <tr>
          <td>{{ cook.id }}</td>
          <td><a class="text-gradient text-primary" href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
          <td>{{ cook.first_name }}</td>
          <td>{{ cook.last_name }}</td>
          <td>{{ cook.years_of_experience }}</td>
        </tr>
      {% endfor %}

      </table>
      {% else %}
        <p>There are no cooks in the service.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
