{% extends "base-presentation.html" %}

{% block content %}
  {% include "includes/sidebar.html" %}
  <div class="p-3 text-left">
    <h1>Dish Type: {{ dishtype.name }}</h1>
    <ul>
      {% for dish in dishtype.dish_types.all %}
        <li>
          <strong><a href="{% url "restaurant:dish-detail" pk=dish.id %} ">{{ dish.name }}</a></strong>
        </li>
      {% empty %}
        <li>No dishes available for this dish type.</li>
      {% endfor %}
    </ul>
    <br>
    <h4><a class="text-gradient text-primary" href="{% url 'restaurant:dish-type-list' %}">Back to Dish Types</a></h4>
  </div>
{% endblock %}
