{% extends "base.html" %}
{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Dish Type:
    {{ dish.dish_type.name }}
    <br>
    Ingredients:
      {% for ingredient in dish.ingredients.all %}
      {{ ingredient.name }}
      {% if not forloop.last %}, {% endif %}
      {% endfor %}
    <br>
    Total cost:
    {{ dish.total_cost }}
    <br>
    Description:
    {{ dish.description }}
    <br>
    Price:
    {{ dish.price }}
  </p>
  <h1>
    Cooks

    {% if dish in user.dishes.all %}
      <a href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me from this dish
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li><a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a>
      ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
  <br>
  <h4><a href="{% url 'restaurant:dish-list' %}">Back to Dishes</a></h4>

{% endblock %}
