{% extends "base.html" %}

{% block content %}
    <h1>Restaurant kitchen Service</h1>
    <h3>The Restaurant kitchen service has at its disposal:</h3>
    <ul>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
        <li><strong>Ingredients:</strong> {{ num_ingredients }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
