{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% include "includes/sidebar.html" %}
  <div class="p-3 text-left">
    <h1>
      Ingredient list
      <a href="{% url 'restaurant:ingredient-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    <form method="get" action="" class="form-inline max-width-200">
        {{ search_form|crispy }}
        <input class="btn btn-secondary" type="submit" value="🔍">
    </form>
    {% if ingredient_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        {% for ingredient in ingredient_list %}
          <tr>
            <td>{{ ingredient.id }}</td>
            <td><a class="text-gradient text-primary" href="{% url "restaurant:ingredient-detail" pk=ingredient.id %} ">{{ ingredient.name }}</a></td>
          </tr>
        {% endfor %}

    {% else %}
      <p>There are no ingredients in restaurant</p>
    {% endif %}
      </table>
  </div>
{% endblock %}
