{% extends "base.html" %}

{% block content %}
  <h1>
    {{ ingredient.name }}
    <a href="{% url 'restaurant:ingredient-delete' pk=ingredient.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'restaurant:ingredient-update' pk=ingredient.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Provider:
    {{ ingredient.provider }}
    <br>
    Unit:
    {{ ingredient.unit }}
    <br>
    Purchase price:
    {{ ingredient.purchase_price }}
  </p>
  <h1>Dishes</h1>
  <ul>
    {% for dish in ingredient.dishes.all %}
      <li>
        <a href="{% url "restaurant:dish-detail" pk=dish.id %} ">{{ dish.name }}</a>
        ({{ dish.dish_type }})
      </li>
    {% endfor %}
  </ul>
  <h4><a href="{% url 'restaurant:ingredient-list' %}">Back to Ingredients</a></h4>
{% endblock %}
